@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Fira+Code:wght@400;500;600;700&display=swap');


@import "tailwindcss";

@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-feature-settings: "ss01", "ss02", "cv01", "cv03";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.font-mono {
    font-family: 'Fira Code', monospace;
}

::selection {
    background-color: rgba(239, 68, 68, 0.2);
    color: #ef4444;
}

.dark ::selection {
    background-color: rgba(239, 68, 68, 0.6);
    color: #fecaca;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}